accelerate==0.34.2
datasets==2.20.0
einops
fastapi
fire
gradio
gradio_client
matplotlib==3.9.1
numpy<2.0.0
packaging==24.1
pandas>=2.0.0
peft==0.12.0
protobuf==5.29.2
pydantic<=2.10.6
pydantic_core==2.27.2
scipy==1.14.0
sentencepiece
sse-starlette
tiktoken
tokenizers==0.13.3
transformers==4.46.0
trl>=0.8.6,<=0.9.6
tyro==0.8.5
uvicorn
